:root {
    --main-bg-color: #f4f4f4;
    --primary-color: #333;
    --secondary-color: #ffcc00;
    --padding: 20px;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--main-bg-color);
}