:root {
    --main-bg-color: #f4f4f4;
    --primary-color: #333;
    --secondary-color: #ffcc00;
    --padding: 1.25em;
}

header {
    text-align: center; /* Ensure the header, including nav, is centered */
}


body {
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--main-bg-color);
    padding: 1%;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 1em; /* Adjusted to em for fluidity */
    background-color: #333;
    display: inline-block; /* Center-align navigation without shifting to the right */
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.75em;
    color: #555;
}

section {
    margin: 2%;
    padding: 2%;
    background-color: white;
    border: 0.125em solid #333;
    border-radius: 0.5em;
}

section ul {
    padding-left: 1.25em;
}

section h4 {
    margin: 0.25em 0;
}

.contact-info {
    text-align: center;
    margin: 2% 0;
}

section img {
    float: left;
    margin-right: 1.5em;
    max-width: 20em;
    width: 100%;
    height: auto;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

/*Two CSS media here, one for tablet, one for mobile*/
@media (max-width: 768px) {
    body {
        padding: 2%;
    }

    nav ul {
        padding: 0.5em;
    }

    h1 {
        font-size: 1.5em;
    }

    section img {
        width: 100%;
        float: none;
        margin: 0;
    }
}

/* Second media query: Adjust for mobile phones (max-width: 480px) */
@media (max-width: 480px) {
    nav ul {
        display: block;
        padding: 0.5em;
    }

    nav li {
        display: block;
        margin: 0.5em 0;
    }

    h1, h2 {
        font-size: 1.2em;
        text-align: left;
    }
}


/* Slider styling */
.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

/* Gallery (slider) image styling */
.slider img {
    width: 100%;
    max-width: 50em;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    margin: 0 auto;
}
 /* May delete later */

